<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CMPUT414.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CMPUT414.Settings1>
            <setting name="Administrator" serializeAs="String">
                <value>123456</value>
            </setting>
            <setting name="Patient" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="Therapist" serializeAs="String">
                <value>456</value>
            </setting>
            <setting name="PatientFile" serializeAs="String">
                <value>c:\patient</value>
            </setting>
            <setting name="Welcome" serializeAs="String">
                <value>welcom2</value>
            </setting>
        </CMPUT414.Settings1>
    </userSettings>
</configuration>